In [6]:
import pandas as pd
df=pd.read_csv("ELM test antes.csv",delimiter=";")
df

        Dataset   RMSE    MAE    MAPE
0           Vol  0,956  0,698  35,977
1      Vol y VE  0,957  0,709  37,366
2      Vol e IN  0,973  0,728  38,462
3  Vol, VE e IN  0,964  0,710  36,836

In [7]:
rmse=[0.9676130,0.9560734,0.9731621,0.9641482]
mae=[0.7122352,0.6956052,0.7277066,0.7104746]
mape=[36.4743385,35.6412418,38.4621571,36.8360595]

In [9]:
df["RMSE"]=rmse
df["MAE"]=mae
df["MAPE"]=mape
df

        Dataset      RMSE       MAE       MAPE
0           Vol  0.967613  0.712235  36.474339
1      Vol y VE  0.956073  0.695605  35.641242
2      Vol e IN  0.973162  0.727707  38.462157
3  Vol, VE e IN  0.964148  0.710475  36.836059

In [12]:
df.to_csv("ELM test antes.csv",index=False,sep=";")